* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form {
  display: flex;
  /*элем с лева на право*/
  flex-direction: column;
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
}

.picture-card {
  /* теперь прозрачность будет меняться постепенно (анимироваться) */
  transition: opacity 0.2s ease;
  opacity: 1;
}

.hidden {
  /* карточка будет появляться полностью прозрачной */
  opacity: 0;
}